.order_details {
    margin-top: 64px;
    margin-left: 52px;
    width: 496px;
    height: 393px;
    flex-shrink: 0;
    border-radius: 21px;
    border: 2px solid #000;
}

.text {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.84px;
}

.total {
    display: flex;
    justify-content: space-between;
    height: 80px;

}

.total_p {
    margin: 47px 0px 80px 25px;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.72px;
}

.sum {
    display: flex;
    margin: 42px 43px 49px 0px;
}

.total_sum {
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.96px;
}

.currencySymbol {
    margin-top: 11px;
    margin-left: 4px;
    font-size: 9px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.3px;
}

.phoneNumberForm {
    display: flex;
    flex-direction: column;
}

.phoneNumberForm input {
    width: 446px;
    height: 75.441px;
    border-radius: 20px;
    border: 1px solid #000;
    background: #FFF;
    color: #929292;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.54px;
    padding: 25px 0px 25px 25px;
    margin-left: 25px;
    margin-top: 49px;

}


.phoneNumberForm button {
    display: flex;
    align-items: center;
    width: 446px;
    padding: 20px 185px 20px 167px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 17px;
    background: #393;
    margin: 25px 0px 25px 25px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.84px;
}