.cart_container {
    width: 1440px;
}

.checkoutContainer {
    display: flex;
}

.shopping_cart {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.2px;
    margin-left: 28px;
}

.back_to_the_store {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    margin-left: 649px;
}

.adjusterContainer button:first-child {
    width: 18px;
    height: 2px;
    flex-shrink: 0;
    background: #000;

}

.dotted_line {
    width: 824px;
    height: 1px;
    margin-top: 40px;
    border-bottom: 2px solid rgba(66, 69, 81, 0.5);
    background: #A7A7A7;
    margin-left: 28px;

}

.clear_btn {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 28px;
    margin-top: 25px;
    width: 300px;
    border-radius: 17px;
    background: #393;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.84px;

}

.empty {
    width: 318px;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.54px;
    margin: 45px 0px 0px 28px;
}